.pointless-tower {
    color: yellow;
    text-align: center;
    margin: auto;

    .counter {
        border-radius: 50%;
        border: 4px inset yellow;
        margin-bottom: 20px;
        p {
            margin: 0;
            font-size: 70px;
            font-weight:900;
        }
        &.failed {
            border: 4px inset red;
        }
    }

    .level {
        height: 4px;
        width: 300px;
        margin: 3px;
        border-radius: 10%;
        background: linear-gradient(90deg, rgba(150,150,150,1) 0%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 39%, rgba(150,150,150,1) 51%, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 79%, rgba(209,209,209,1) 100%);
        &.failed {
            background: linear-gradient(90deg, rgb(151, 44, 44) 0%, rgb(255, 92, 92) 23%, rgba(255, 92, 92,1) 39%, rgba(151, 44, 44,1) 51%, rgba(255, 92, 92,1) 61%, rgba(255, 92, 92,1) 79%, rgb(202, 75, 75) 100%);
        }
    }

    .top {
        background: hotpink;
    }

    .target {
        background: red;
    }

    .hidden {
        animation-name: hidden;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}

@keyframes hidden {
    0% {
        transform: scaleX(1) translateY(0);
        opacity: 100%;
        blur: 0px;
    }

    90% {
        transform: scaleX(0.9) translateY(-100px);
    }
    100% {
        transform: scaleX(0.3) translateY(-120px);
        opacity: 0%;
        blur: 10px;
    }
}

@keyframes spinner {
    0% { transform: rotateY(0deg) scale(1) }
    // 5% { transform: rotateY(180deg); }
    33% { transform: rotateY(360deg) scale(1.7); }
    // 15% { transform: rotateY(540deg); }
    // 20% { transform: rotateY(720deg); }
    // 25% { transform: rotateY(900deg); }
    66% { transform: rotateY(720deg); }
    // 35% { transform: rotateY(1260deg); }
    100% { transform: rotateY(1080deg) scale(1); }
    // 100% {
    //   transform: rotateY(-360deg);
    // }
}

.spinner {
    color: red;
    animation-name: spinner;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 2s;
    transform-style: preserve-3d;
  }
