.tenable-board {
    display: flex;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    background: rgb(2,8,3);
    background: radial-gradient(circle, rgba(2,8,3,1) 78%, rgba(33,189,38,1) 100%);
}