.tenable-board {
    display: flex;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    background: url("./tenable-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    
    &.fail {
        background: url("./tenable-background-fail.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
    }

    &.complete {
        background: url("./tenable-background-complete.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
    }

    .prompt {
        position: fixed;
        bottom: 0;
        color: white;
        font-size: 2.5vw;
        margin-bottom: 25px;
        padding: 20px;
        border-radius: 20px;
        border: 5px solid limegreen;
    }
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1; // hide images
    content:url("./tenable-background.png") url("./tenable-background-fail.png") url("./tenable-background-complete.png");
 }