.tenable-board {
    display: flex;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    background: rgb(2,8,3);
    background: linear-gradient(100deg, rgba(2,8,3,1) 0%, rgba(33,189,38,1) 100%);
}