.pointless-category-grid {
    .title-prompt {
        background-color: #240f40;
        border: 4px solid white;
        border-radius: 50px;
        width: 100%;
        height: 70px;
        line-height: 70px;
        margin: 10px 10px 30px 10px;
        color: white;
        font-size: 40px;
        font-family: 'Dosis', sans-serif;
        text-align: center;
        text-transform: uppercase;
    }

    .category {
        background-color: rgb(56, 138, 141);
    }
}